@model Emlak
@{
    ViewData["Title"] = "Emlakekle";
}

<h1>Emlakekle</h1>

<form asp-controller = "Emlak" asp-action = "EmlakEkle" method = "post">

    <label>konum</label>
    <input type = "text" asp-for = "konum" />
    <label>fiyat</label>
    <input type = "text" asp-for = "fiyat" />


    <input type = "submit" value = "kaydet" />


</form>